* {
    font-family: Papers please;
}

form {
    display: flex;
    flex-direction: column;
}

.edit-profile_form {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 1px;
    padding-left: 0;
    padding-right: 0;
    max-width: 500px;
    border: 15px solid transparent;
    background-color: var(--paperColor);
    overflow: hidden;
}

.edit-profile_form-borderstyle {
    border: 12px solid transparent;
    border-image-source: url(../media/test_frame.png);
    border-image-slice: 13;
    border-image-repeat: stretch;
    background-color: var(--paperColor);
}

.edit-profile_form h2 {
    text-align: center;
    padding: 5px;
    padding-top: 15px;
    margin: 15px;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 5px black dashed;
}

.edit-profle_info-box {
    display: flex;
    flex-direction: row;
    margin: 15px;
}

.edit-profle_profile-text {
    display: flex;
    flex: 1;
    flex-direction: column;
    font-size: 10px;
}

.edit-profle_profile-text input {
    font-size: 10px;
}

.edit-profile_profile-pic {
    display: flex;
    flex: 1;
    flex-direction: column;
    font-size: 10px;
}

img.profile-picture {
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 0;
    display: flex;
    flex: 5;
    flex-direction: row;
    border: 10px solid transparent;
    border-radius: 30px;
}

.edit-profile_profile-pic-buttons  {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.edit-profile_profile-pic_upload {
    font-size: 15px;
    padding: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

.edit-profile_row {
    display: flex;
    flex-direction: row;
    flex: 1;
    border-bottom: 1px black solid;
    padding: 0;
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: var(--paperColor);
    min-height: 30px;
}

h4.edit-profile_row {
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
    text-decoration: none;
    justify-content: center;
}

.edit-profile_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.edit-profile_lc {
    display: flex;
    flex-direction: column;
    flex: 2;
    justify-content: center;
    padding: 0;
    margin: 0;
    padding-left: 10px;
    background-color: var(--paperColor);
}

.edit-profile_rc {
    display: flex;
    flex-direction: column;
    flex: 3;
    justify-content: center;
    text-align: left;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: var(--paperColor);
    word-wrap: normal;
    overflow-x: hidden;
}

.edit-profile_rc.age {
    flex-direction: row;
}

.edit-profile_lc.bio {
    justify-content: flex-start;
}

textarea.edit-profile_rc.bio {
    word-wrap: normal;
    overflow-y: auto;
    overflow-x: hidden;
    resize: none;
    height: 50px;
}

.edit-profile_About-me {
    border-top: 5px black dashed;
    margin: 15px;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 10px;
}

.edit-profile_About-me * {
    font-size: 10px;
}

.edit-profile_AcceptChanges {
    display: flex;
    margin: 0;
    margin-left: 15px;
    margin-right: 15px;
    flex: 1;
}

.edit-profile_AcceptChanges.lc {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.edit-profile_AcceptChanges.rc {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.error-message.visible {
    display: flex;
    visibility: visible;
    justify-content: center;
    height: 40px;
}

.edit-profile_AcceptChanges button {
    background-color: var(--paperColor);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    border: 8px solid transparent;
    border-image-source: url(../media/test_frame3.png);
    border-image-slice: 8;
    border-image-repeat: stretch;
    background-color: var(--paperColor);
}

.error-message.hidden {
    display: flex;
    height: 40px;
    content-visibility: hidden;
}

.green {
    font-size: 20px;
    color: green;
    margin: 0;
    padding: 0;
}

.red {
    font-size: 20px;
    color: red;
    margin: 0;
    padding: 0;
}

input.delete-account-passw {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    margin-left:30px;
    margin-right: 15px;
    overflow-x: auto;
    font-size: 15px;
    background-color: var(--paperColor);
    text-align: center;
    padding: 0;
    border: 8px solid transparent;
    border-image-source: url(../media/test_frame3.png);
    border-image-slice: 8;
    border-image-repeat: stretch;
    background-color: var(--paperColor);
}

.delete-account-button {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    margin-left: 15px;
    margin-right: 30px;
    background-color: var(--paperColor);
    text-align: center;
    padding: 0;
    border: 8px solid transparent;
    border-image-source: url(../media/test_frame3.png);
    border-image-slice: 8;
    border-image-repeat: stretch;
    background-color: var(--paperColor);
}