:root {
    --paperColor: #e6d977;
}
@font-face {
    font-family: 'Papers please';
    src: url('./fonts/AgitPropMedium.eot');
    src: url('./fonts/AgitPropMedium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/AgitPropMedium.woff2') format('woff2'),
        url('./fonts/AgitPropMedium.woff') format('woff'),
        url('./fonts/AgitPropMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: Papers please;
}

/* Sidhuvudet logo, firmanamn och nav */
header {
    background-color: #923730;
    display: flex;  /* logon och nav är flex items */
    align-items: center;
    border-bottom: 2px solid black;
}
header img {
    padding: 4px;
    margin: 6px 6px;
    border: 2px solid white;
    border-radius: 8px;
    width: 150px;
}
#logo {
    color: white;
    padding-left: 16px;
    font-size: xx-large;
}

/* Huvudmenyn */
nav {
    margin-left: auto;  /* skuffar menyn till högra kanten */
}
nav ul {
    margin: 0px 10px; /* bort med inbyggd marginal (shortand 2) */
    padding: 0; /* Bort med inbyggd padding */
}
nav li {
    list-style: none;   /* bort med bollar */
    float: left;  /* ordna element bredvid varann på desktop */
    padding: 10px; /* lite till luft runt li */
}
nav li > a {
    text-decoration: none; /* bort med underline */
    color: white; /* bort med inbyggd blå/lila text */
    padding: 8px;                   /* Förberedelse för hover */
    border-radius: 4px;
}
nav a:hover {
    background-color: #5c2420;    /* Byter bakgrund on hover "pseudoklass" */ 
}

/* Allmängällande stilar */
body {
    background-color: #3D3D3D;
    margin: 0;
    font-family: "Helvetice Neue", Helvetica, sans-serif;
}
#container {
    background-color: #546353;
    color: #000000;
    max-width: 800px;
    margin: auto;
    min-height: 100vh;
    padding-bottom: 150px;
}
article {
    margin-bottom: 30px;
    padding-left: 10px;
}

/* Footer */
footer {
    background-color: #923730;
    color: #fff;
    position: fixed;
    bottom: 0px;
    width: 100%;
    max-width: 790px;
    padding: 5px;
    border-top: 2px solid black;
    
}
.infotext{
    font-size: 20px;
    text-align: center;
}
.titleofpage{
    text-align: center;
}
.proferr{
    font-size: 30px;
    text-align: center;
    border: dashed 3px black;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.ads{
    background-color: #fff5ca;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    border:3px solid #000000;
    border-radius: 4px;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 30px;
    padding-bottom: 40px;
    min-height: 600px;
    box-shadow: 14px 14px 4px 2px #00000075;
}
article
{
    margin: 0;
    padding: 0;
}
.bio{
    margin-left: auto;
    margin-right: 16px;
    display: flex;
    float: right;
    position: relative;
}
.biotitle{
    position: absolute;
    top: -60px;
    right: 74px;
    text-align: center;
    font-size: 24px;
}
.biotext{
    border:3px solid #292929;
    border-radius: 8px;
    padding: 4px;
    width: 180px;
    height: 180px;
    overflow: auto;
}
.username{
    text-align: center;
    font-size: 26px;
    border-bottom: 2px solid black;
}
.profilepic{
    display: flex;
    float: right;
    max-width: 180px;
    height: auto;
    border:3px solid #292929;
    margin-top: 8px;
    margin-right: 16px;
}
.firstname, .lastname, .dob, .age, .zipcode, .salary, .email, .likes, .gender, .preference{
    border-bottom:1px solid #000000;
    width: 50%;
}
.filtertitle{
    text-align: center;
}
.filter{
    text-align: center;
    background-color: #577055;
    max-width: 100%;
    margin-right: 10px;
    margin-left: 10px;
    display: none;
}
.filteropt{
    font-size: 16px;
    background-color: #546353;
    border: 2px solid black;
    border-radius: 4px;
    padding: 4px;
    margin: 4px;
    cursor: pointer;
}
.openfilter{
    font-size: 16px;
    background-color: #546353;
    border: 2px solid black;
    border-radius: 4px;
    padding: 4px;
    margin: 4px;
    cursor: pointer;
    text-align: center;
    margin-left: 43%;
    margin-right: auto;
}
.registerform{
    margin: 10px;
    padding: 6px;
    font-size: 20px;
    background-color: #384137;
    max-width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    padding: 20px;
    border: 4px solid black;
    border-radius: 8px;
}
.regfield{
    background-color: #577055;
    font-size: 20px;
    padding: 3px;
    margin: 4px;
}
.registertitle{
    margin: 20px;
    padding: 4px;
    font-size: 30px;
    text-align: center;
}
.regsubmit{
    padding: 8px;
    margin: 4px;
    background-color:#577055;
    font-size: 20px;
    border: 4px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.logintitle{
    margin-top: 30px;
    padding: 12px;
    text-align: center;
    font-size: 40px;
}
.loginform{
    margin-top: 80px;
    padding: 6px;
    background-color: #384137;
    height: 320px;
    max-width: 440px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    border: 4px solid black;
    border-radius: 6px;
}
.loginfield
{
    background-color: #577055;
    font-size: 20px;
    padding: 8px;
    margin: 16px;
}
.loginsubmit{
    font-size: 22px;
    margin-top: 30px;
    padding: 12px;
    width: 170px;
    border: 4px solid black;
    background-color: #577055;
    border-radius: 6px;
    cursor: pointer;
}
.noprofile{
    text-align: center;
    font-size: 18px;
    margin-top: 80px;
}
.linktoreg{
    background-color: #577055;
    color: #000000;
    border: 4px solid black;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    padding: 8px;
    font-size: 16px;
    margin-top: 16px;
    display: flex;
    position: absolute;
    left: 48%;
    max-width: fit-content;
    margin-bottom: 100px;
}
.linktoreg:hover{
    background-color: #384137;
}
.reportpage{
    text-decoration: none; 
    color: white; 
    padding: 8px;                   
    border-radius: 4px;
    display: flex;
    float: right;
}
.rapport{
    width: 90%;
    min-height: 800px;
    background-color: #384137;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    border: 6px dashed black;
}
.reportpage:hover {
    background-color: #5c2420;    /* Byter bakgrund on hover "pseudoklass" */ 
}
.raphead1{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration:underline double black 2px;
}
.raphead2{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.raphead3{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.bröd{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 16px;
    margin: 8px;
}
/* Responsiv styling */
@media (max-width: 640px) {
    header {
        display: block;
        text-align: center;
    }

    nav li {
        float: none;
    }
    
}